body .filePickPreviewWrap .filePickFile {
  max-width: 200px;
}
body.page-formbuilder .option-type {
  margin-top: 10px;
  margin-bottom: 10px;
}
body.page-formbuilder .option-type label {
  line-height: 24px;
  padding-right: 0.7em;
}
body.page-formbuilder .option-type label input[type=radio] {
  margin-right: 0.3em;
}
body.page-formbuilder .custom-options {
  padding-top: 2em;
  padding-bottom: 5em;
}
body.page-formbuilder .custom-options .custom-option {
  max-width: 42%;
  float: left;
  padding-right: 1em;
  padding-bottom: 1em;
}
body.page-formbuilder .custom-options .custom-option input[type=text].option-key {
  width: 42%;
}
body.page-formbuilder .custom-options .custom-option input[type=text].option-val {
  width: 42%;
}
body.page-formbuilder .custom-options .custom-option .remove {
  display: inline-block !important;
}
body #popup-container .pagination {
  overflow: hidden;
}
body .sidebarorm_content .jstree-leaf a {
  width: 175px;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .sidebarorm_content .jstree-leaf a .text-danger {
  color: red;
}
body .mkvp-add {
  background-color: grey !important;
  max-height: 3em;
  line-height: 15px;
}
body .toggle-icon {
  background: url("/cms/images/icon-nestable-active.png") no-repeat scroll center center #fff;
  width: 20px;
  height: 25px;
  position: absolute;
  right: 1em;
}
body .toggle-icon:focus,
body .toggle-icon:hover {
  background-repeat: no-repeat;
  background-color: #fff;
}
body .toggle-icon.selected {
  background: url("/cms/images/icon-nestable.png") no-repeat scroll center center #fff;
}
body .subcategory {
  display: none;
}
body .active:not(.item) {
  display: block;
}
body .ui-dialog {
  z-index: 9999;
}
body .file-manager {
  width: 100%;
  height: 100%;
  /* The MIT License */
  /*-----------------------------------------------------------------------------------------
        =Custom styles
        =JFM
    -----------------------------------------------------------------------------------------*/
  /* While uploading files... */
}
body .file-manager ol.breadcrumb {
  margin: 0;
  padding: 0.6em 0 0 0;
  list-style-type: none;
  font-size: 0.7em;
}
body .file-manager ol.breadcrumb li {
  margin: 0;
  padding: 0;
  float: left;
}
body .file-manager ol.breadcrumb li:not(:last-child):after {
  content: '\203A\00a0';
}
body .file-manager .row {
  display: block;
}
body .file-manager .row .col-lg-3 {
  display: block;
  float: left;
  width: 23%;
  padding-right: 1em;
  position: relative;
}
body .file-manager .row .col-lg-3 form {
  margin-bottom: 1em;
}
body .file-manager .row .col-lg-3 form .pz-search {
  padding-left: 2.8em;
}
body .file-manager .row .col-lg-3 form .input-group-btn {
  position: absolute;
  left: -0.3em;
  top: 0.1em;
}
body .file-manager .row .col-lg-3 form .input-group-btn button {
  margin-top: 0.2em;
  color: #454A51;
  border: none;
  box-shadow: none;
  background: none;
}
body .file-manager .row .col-lg-9 {
  display: block;
  float: left;
  width: 77%;
  padding-left: 3em;
}
body .file-manager .row .col-lg-9 ul {
  padding-left: 1.1em;
  padding-right: 0;
}
body .file-manager .row .col-lg-9 ul li {
  margin-right: 0.75em;
}
body .file-manager .extra-stuff {
  border-top: 1px solid #ddd;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 30px 10px 20px;
  display: flex;
  justify-content: center;
}
body .file-manager .extra-stuff .pull-right {
  margin-left: 1em;
}
body .file-manager .tableContent.done {
  border: 1px solid green;
}
body .file-manager .tableContent.error {
  border: 1px solid red;
}
body .file-manager .tableContent .doc-code-meta [type=checkbox] {
  display: none;
}
body .file-manager .tableContent .doc-code-meta.doc-code-meta-files {
  padding: 0 !important;
}
body .file-manager .tableContent .doc-code-meta.doc-code-meta-files label {
  cursor: pointer;
  color: #fff;
  display: block;
  padding: 5px 0 5px 25px;
  text-indent: -15px;
}
body .file-manager .tableContent .doc-code-meta.doc-code-meta-files label input {
  display: block;
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: 3px;
  left: 20px;
  *overflow: hidden;
}
body .file-manager .dropzone-custom,
body .file-manager .dropzone-custom *,
body .file-manager .dropzone-previews,
body .file-manager .dropzone-previews * {
  box-sizing: border-box;
}
body .file-manager .dropzone-custom.dz-clickable {
  width: 10.97em;
}
body .file-manager .dropzone-custom {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.02);
  padding: 1em;
}
body .file-manager .dropzone-custom.dz-clickable {
  cursor: pointer;
}
body .file-manager .dropzone-custom.dz-clickable .dz-message,
body .file-manager .dropzone-custom.dz-clickable .dz-message span {
  cursor: pointer;
}
body .file-manager .dropzone-custom.dz-clickable * {
  cursor: default;
}
body .file-manager .dropzone-custom .dz-message {
  opacity: 1;
}
body .file-manager .dropzone-custom.dz-drag-hover {
  border-color: rgba(0, 0, 0, 0.15);
  background: rgba(0, 0, 0, 0.04);
}
body .file-manager .dropzone-custom .dz-preview,
body .file-manager .dropzone-previews .dz-preview {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  display: inline-block;
  margin: 17px;
  vertical-align: top;
  border: 1px solid #acacac;
  padding: 6px 6px 6px 6px;
}
body .file-manager .dropzone-custom .dz-preview.dz-file-preview [data-dz-thumbnail],
body .file-manager .dropzone-previews .dz-preview.dz-file-preview [data-dz-thumbnail] {
  display: none;
}
body .file-manager .dropzone-custom .dz-preview .dz-details,
body .file-manager .dropzone-previews .dz-preview .dz-details {
  width: 100px;
  height: 100px;
  position: relative;
  background: #ebebeb;
  padding: 5px;
  margin-bottom: 22px;
}
body .file-manager .dropzone-custom .dz-preview .dz-details .dz-filename,
body .file-manager .dropzone-previews .dz-preview .dz-details .dz-filename {
  overflow: hidden;
  height: 100%;
}
body .file-manager .dropzone-custom .dz-preview .dz-details img,
body .file-manager .dropzone-previews .dz-preview .dz-details img {
  absolute: top left;
  width: 100px;
  height: 100px;
}
body .file-manager .dropzone-custom .dz-preview .dz-details .dz-size,
body .file-manager .dropzone-previews .dz-preview .dz-details .dz-size {
  absolute: bottom -28px left 3px;
  height: 28px;
  line-height: 28px;
}
body .file-manager .dropzone-custom .dz-preview.dz-error .dz-error-mark,
body .file-manager .dropzone-previews .dz-preview.dz-error .dz-error-mark {
  display: block;
}
body .file-manager .dropzone-custom .dz-preview.dz-success .dz-success-mark,
body .file-manager .dropzone-previews .dz-preview.dz-success .dz-success-mark {
  display: block;
}
body .file-manager .dropzone-custom .dz-preview:hover .dz-details img,
body .file-manager .dropzone-previews .dz-preview:hover .dz-details img {
  display: none;
}
body .file-manager .dropzone-custom .dz-preview .dz-success-mark,
body .file-manager .dropzone-previews .dz-preview .dz-success-mark,
body .file-manager .dropzone-custom .dz-preview .dz-error-mark,
body .file-manager .dropzone-previews .dz-preview .dz-error-mark {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-align: center;
  right: -10px;
  top: -10px;
}
body .file-manager .dropzone-custom .dz-preview .dz-success-mark,
body .file-manager .dropzone-previews .dz-preview .dz-success-mark {
  color: #8cc657;
}
body .file-manager .dropzone-custom .dz-preview .dz-error-mark,
body .file-manager .dropzone-previews .dz-preview .dz-error-mark {
  color: #ee162d;
}
body .file-manager .dropzone-custom .dz-preview .dz-progress,
body .file-manager .dropzone-previews .dz-preview .dz-progress {
  position: absolute;
  top: 100px;
  left: 6px;
  right: 6px;
  height: 6px;
  background: #d7d7d7;
  display: none;
}
body .file-manager .dropzone-custom .dz-preview .dz-progress .dz-upload,
body .file-manager .dropzone-previews .dz-preview .dz-progress .dz-upload {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: #8cc657;
}
body .file-manager .dropzone-custom .dz-preview.dz-processing .dz-progress,
body .file-manager .dropzone-previews .dz-preview.dz-processing .dz-progress {
  display: block;
}
body .file-manager .dropzone-custom .dz-preview .dz-error-message,
body .file-manager .dropzone-previews .dz-preview .dz-error-message {
  display: none;
  absolute: top -5px left -20px;
  background: rgba(245, 245, 245, 0.8);
  padding: 8px 10px;
  color: #800;
  min-width: 140px;
  max-width: 500px;
  z-index: 500;
}
body .file-manager .dropzone-custom .dz-preview:hover.dz-error .dz-error-message,
body .file-manager .dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  display: block;
}
body .file-manager .dropzone-custom {
  border: 1px solid rgba(0, 0, 0, 0.03);
  min-height: 360px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.03);
  padding: 23px;
}
body .file-manager .dropzone-custom .dz-default.dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background-image: url("../images/spritemap.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 428px;
  height: 123px;
  margin-left: -214px;
  margin-top: -61.5px;
  top: 50%;
  left: 50%;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body .file-manager .dropzone-custom .dz-default.dz-message {
    background-image: url("../images/spritemap@2x.png");
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px;
  }
}
body .file-manager .dropzone-custom .dz-default.dz-message span {
  display: none;
  display: block;
  color: rgba(69, 74, 81, 0.4);
  font-weight: 500;
  line-height: 1.4;
  max-width: 8em;
  margin: auto;
}
body .file-manager .dropzone-custom.dz-square .dz-default.dz-message {
  background-position: 0 -123px;
  width: 268px;
  margin-left: -134px;
  height: 174px;
  margin-top: -87px;
}
body .file-manager .dropzone-custom.dz-drag-hover .dz-message {
  opacity: 0.15;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
  filter: alpha(opacity=15);
}
body .file-manager .dropzone-custom .dz-preview,
body .file-manager .dropzone-previews .dz-preview {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
  font-size: 14px;
}
body .file-manager .dropzone-custom .dz-preview.dz-image-preview:hover .dz-details img,
body .file-manager .dropzone-previews .dz-preview.dz-image-preview:hover .dz-details img {
  display: block;
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
}
body .file-manager .dropzone-custom .dz-preview.dz-success .dz-success-mark,
body .file-manager .dropzone-previews .dz-preview.dz-success .dz-success-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
body .file-manager .dropzone-custom .dz-preview.dz-error .dz-error-mark,
body .file-manager .dropzone-previews .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
body .file-manager .dropzone-custom .dz-preview.dz-error .dz-progress .dz-upload,
body .file-manager .dropzone-previews .dz-preview.dz-error .dz-progress .dz-upload {
  background: #ee1e2d;
}
body .file-manager .dropzone-custom .dz-preview .dz-error-mark,
body .file-manager .dropzone-previews .dz-preview .dz-error-mark,
body .file-manager .dropzone-custom .dz-preview .dz-success-mark,
body .file-manager .dropzone-previews .dz-preview .dz-success-mark {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  background-image: url("../images/spritemap.png");
  background-repeat: no-repeat;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body .file-manager .dropzone-custom .dz-preview .dz-error-mark,
  body .file-manager .dropzone-previews .dz-preview .dz-error-mark,
  body .file-manager .dropzone-custom .dz-preview .dz-success-mark,
  body .file-manager .dropzone-previews .dz-preview .dz-success-mark {
    background-image: url("../images/spritemap@2x.png");
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px;
  }
}
body .file-manager .dropzone-custom .dz-preview .dz-error-mark span,
body .file-manager .dropzone-previews .dz-preview .dz-error-mark span,
body .file-manager .dropzone-custom .dz-preview .dz-success-mark span,
body .file-manager .dropzone-previews .dz-preview .dz-success-mark span {
  display: none;
}
body .file-manager .dropzone-custom .dz-preview .dz-error-mark,
body .file-manager .dropzone-previews .dz-preview .dz-error-mark {
  background-position: -268px -123px;
}
body .file-manager .dropzone-custom .dz-preview .dz-success-mark,
body .file-manager .dropzone-previews .dz-preview .dz-success-mark {
  background-position: -268px -163px;
}
body .file-manager .dropzone-custom .dz-preview .dz-progress .dz-upload,
body .file-manager .dropzone-previews .dz-preview .dz-progress .dz-upload {
  -webkit-animation: loading 0.4s linear infinite;
  -moz-animation: loading 0.4s linear infinite;
  -o-animation: loading 0.4s linear infinite;
  -ms-animation: loading 0.4s linear infinite;
  animation: loading 0.4s linear infinite;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-image: url("../images/spritemap.png");
  background-repeat: repeat-x;
  background-position: 0px -400px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 138dpi), (min-resolution: 1.5dppx) {
  body .file-manager .dropzone-custom .dz-preview .dz-progress .dz-upload,
  body .file-manager .dropzone-previews .dz-preview .dz-progress .dz-upload {
    background-image: url("../images/spritemap@2x.png");
    -webkit-background-size: 428px 406px;
    -moz-background-size: 428px 406px;
    background-size: 428px 406px;
  }
}
body .file-manager .dropzone-custom .dz-preview.dz-success .dz-progress,
body .file-manager .dropzone-previews .dz-preview.dz-success .dz-progress {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
body .file-manager .dropzone-custom .dz-preview .dz-error-message,
body .file-manager .dropzone-previews .dz-preview .dz-error-message {
  display: block;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
body .file-manager .dropzone-custom .dz-preview:hover.dz-error .dz-error-message,
body .file-manager .dropzone-previews .dz-preview:hover.dz-error .dz-error-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
body .file-manager .dropzone-custom a.dz-remove,
body .file-manager .dropzone-previews a.dz-remove {
  background-image: -webkit-linear-gradient(top, #fafafa, #eee);
  background-image: -moz-linear-gradient(top, #fafafa, #eee);
  background-image: -o-linear-gradient(top, #fafafa, #eee);
  background-image: -ms-linear-gradient(top, #fafafa, #eee);
  background-image: linear-gradient(to bottom, #fafafa, #eee);
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #eee;
  text-decoration: none;
  display: block;
  padding: 4px 5px;
  text-align: center;
  color: #aaa;
  margin-top: 26px;
}
body .file-manager .dropzone-custom a.dz-remove:hover,
body .file-manager .dropzone-previews a.dz-remove:hover {
  color: #666;
}
@-moz-keyframes loading {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: -7px -400px;
  }
}
@-webkit-keyframes loading {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: -7px -400px;
  }
}
@-o-keyframes loading {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: -7px -400px;
  }
}
@keyframes loading {
  from {
    background-position: 0 -400px;
  }
  to {
    background-position: -7px -400px;
  }
}
body .file-manager .dropzone-wrap {
  border: 0 !important;
  background: 0 !important;
  box-shadow: none !important;
  width: auto !important;
  list-style-type: none;
}
body .file-manager .dropzone-custom {
  border: 1px dashed rgba(69, 74, 81, 0.41);
  background: 0;
  width: 150px;
  min-height: 15em;
  max-height: 15em;
  height: 15em;
  margin: 0;
  padding: 0;
  transition: 0.1s ease-in-out;
}
body .file-manager .dropzone:hover {
  background: rgba(255, 255, 255, 0.5);
}
body .file-manager .dropzone-custom .dz-default.dz-message {
  position: relative;
  top: 50%;
  left: auto;
  width: auto;
  height: auto;
  margin: 0 1em;
  background: 0;
  padding-top: 59px;
  background: url(/cms/images/dropzone-file-icon.png) no-repeat top center;
  font-weight: bold;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
body .file-manager .dropzone-custom .dz-default.dz-message span {
  display: block;
}
body .file-manager .dropzone-custom.dz-started {
  pointer-events: none;
}
body .file-manager .dropzone-custom.dz-started:hover {
  background: 0;
}
body .file-manager .dropzone-custom .dz-default.dz-message.dz-progress {
  display: none;
}
body .file-manager .dropzone-custom.dz-started .dz-default.dz-message.dz-progress {
  display: block;
  color: green;
  opacity: 0.5;
}
body .file-manager .dropzone-custom.dz-started .dz-default.dz-message {
  display: none;
}
body .file-manager .dropzone-custom .dz-preview,
body .file-manager .dropzone-previews .dz-preview {
  border: 0;
  height: 100%;
  margin: 0 20px 0 0;
}
body .file-manager .dropzone-custom .dz-preview .dz-details,
body .file-manager .dropzone-previews .dz-preview .dz-details {
  background: 0;
  width: 100%;
  height: auto;
  margin: 0;
}
body .file-manager .dropzone-custom .dz-preview .dz-details img,
body .file-manager .dropzone-previews .dz-preview .dz-details img {
  height: auto;
  max-height: 100px;
  margin: 0 auto;
}
body .file-manager .dropzone-custom .dz-preview .dz-progress,
body .file-manager .dropzone-previews .dz-preview .dz-progress {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
}
body .ui-button-icon-only {
  text-indent: -9999px;
}
body .columns-container {
  margin-top: 10px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
body #viewModes #cms_viewmode_ecommerce a {
  background-image: url("/cms/images/mode-ecommerce.png");
}
body .re-button-tooltip {
  -webkit-transform: none;
  transform: none;
}
body #headContainer {
  margin-top: 0;
  padding-top: 3em;
  background-position-y: bottom !important;
}
body #headContainer .header .logo {
  background-size: cover !important;
}
body #crop-image-modal .image-cropper .presets > div {
  margin-left: -4px;
}
body #crop-image-modal footer {
  text-align: right;
}
body.fragment-base {
  background: white;
  padding: 0 5em;
}
body.fragment-base .cms_from_various_snippets_container.content-block-sidebar {
  display: none;
}
body.fragment-base #headContainer {
  display: none;
}
body.fragment-base #menuContainer {
  display: none;
}
body.fragment-base #verticalMenu {
  display: none;
}
body.fragment-base #bodyContent {
  padding-left: 0;
  border-right: none;
}
body.page-login .alert.alert-danger {
  background: red;
  color: white;
  padding: 0.5em 1em;
}
body.page-model .model-pagination-detail {
  padding: 5px 0;
  text-align: center;
  background: #eee;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}
body.page-model .model-pagination-detail .formStyle {
  text-align: left;
  width: 30%;
}
body.page-model .model-data-group {
  padding: 5px 0;
  text-align: center;
  background: #eee;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  width: 47.7%;
}
body.page-model .model-data-group .formStyle {
  text-align: left;
  width: 90%;
}
body.page-orm .asset-record-fields div {
  padding-bottom: 1em;
}
body.page-orm .abtest-widget select.page {
  min-width: 20em;
}
body.page-orm .table-striped tbody:not(:last-child) tr td {
  border-bottom: 1px solid #e5e5e5 !important;
}
body.page-orm .edit .cropImagePickButton {
  padding-right: 0.5em;
}
body.page-orm .edit .text-danger {
  color: red;
}
body.page-orm .edit .low-stock td {
  color: red;
}
body.page-orm .edit .disabled td {
  color: lightgrey;
}
body.page-orm .edit input[type=email] {
  border: medium none;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #666;
  padding: 0.6em 1em;
  width: 100%;
  background: #fcfcfc;
  background: #fff;
  font-family: 'Titillium Web', 'Helvetica Neue', Arial, sans-serif;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body.page-orm .edit .formStyle.type34 .delete-block.edit-block {
  right: 2.5em;
  background: url(/cms/images/editIcon.gif) 0px 0px;
}
body.page-orm .edit .assetfolderpicker {
  margin-bottom: 1em;
}
body.page-orm .edit .assetfolderpicker .gallery-file-title {
  height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
}
body.page-orm .edit .content-block .assetfolderpicker .contentListTable li {
  width: 10.5em !important;
}
body.page-orm .edit .content-block .formStyle {
  margin-bottom: 2em;
}
body.page-orm .edit .page-template-widget .template-new {
  margin-top: 0.5em;
  background: #fefefe;
  padding: 0.5em;
  border: 1px solid #ddd;
}
body.page-orm .edit .page-template-widget .template-new > div {
  display: inline-block;
  width: 50%;
}
body.page-orm .edit .page-template-widget .template-new > div:first-child {
  padding-right: 0.5em;
}
body.page-orm .edit .product-variants-table .tableHead {
  text-align: left;
}
body.page-orm .edit .product-variants-table .column td.no-result {
  opacity: 0.5;
}
body.page-orm .edit .product-variants-table .column td:not(:first-child) {
  padding-left: 0;
}
body.page-orm .edit .product-variants-table .column td:not(:first-child).out-of-stock {
  color: red;
}
body.page-orm .edit .product-variants-table .column td:not(:first-child).low-stock {
  color: orange;
}
body.page-orm .edit .versions__restore {
  text-decoration: underline;
}
body.page-orm .edit .versions__restore:hover {
  font-weight: bold;
}
body.page-orm .edit .shipping-cost-rates .mb-little {
  margin-bottom: 1em !important;
}
body.page-orm .edit .shipping-cost-rates .block-file .up {
  background: url('/cms/images/icon-nestable-active.png') no-repeat center;
  width: 22px;
  height: 22px;
  display: inline-block;
}
body.page-orm .edit .shipping-cost-rates .block-file .down {
  background: url('/cms/images/icon-nestable.png') no-repeat center;
  width: 22px;
  height: 22px;
  display: inline-block;
}
body.page-orm .edit .shipping-cost-rates .block-file .right-third {
  right: 4em;
}
body.page-orm .edit .shipping-cost-rates .block-file .right-second {
  right: 2.5em;
}
body.page-orm .edit .shipping-cost-rates .conditions-container {
  margin-top: 0;
}
body.page-orm .edit .shipping-cost-rates .conditions-container .formStyle {
  margin-bottom: 1em;
  width: 28% !important;
}
body.page-orm .edit .shipping-cost-rates .conditions-container .deleteExtra {
  display: inline-block;
  vertical-align: middle;
  width: 5%;
  padding-top: 0.8em;
}
body.page-orm .edit .shipping-cost-rates .conditions-container .extra-title {
  padding-bottom: 0.5em;
}
body.page-orm .edit .shipping-cost-rates .conditions-container .ui-sortable > div {
  padding: 0 15px;
  cursor: move;
}
body.page-orm .orm-fm {
  padding: 20px 50px;
}
body.page-orm .orm-fm .addForm {
  top: 1.5em;
  right: 2em;
}
body.page-orms-product .edit .button.search {
  background: gray;
}
body.page-orms-product .table .out-of-stock {
  color: red;
}
body.page-orms-product .table .low-stock {
  color: orange;
}
body.page-orms-product .table .disabled-variants {
  color: lightgrey;
}
body .jstree-anchor {
  display: inline-block;
  color: black;
  white-space: nowrap;
  padding: 0 8px 0 5px;
  border-radius: 40px !important;
  margin: 0;
  vertical-align: top;
}
body .jstree-default .jstree-icon {
  font-style: normal;
}
body .jstree-default .jstree-open > .jstree-ocl {
  background-position: -36px -4px;
  background: none;
  position: relative;
}
body .jstree-default .jstree-open > .jstree-ocl:before {
  content: "-";
  font-weight: 900;
  font-size: 1.2em;
  line-height: 0;
  position: relative;
  top: -1px;
}
body .jstree-default .jstree-closed > .jstree-ocl {
  background-position: -4px -4px;
  background: none;
  position: relative;
}
body .jstree-default .jstree-closed > .jstree-ocl:before {
  content: "+";
  font-weight: 900;
  font-size: 1.2em;
  line-height: 0;
  position: relative;
  top: -1px;
}
body .jstree-default .jstree-leaf > .jstree-ocl {
  background: none;
}
body .jstree-default .jstree-node {
  background: none;
}
body .jstree-default .mode-asset .assets-images.ui-sortable .ui-sortable-placeholder {
  margin-right: 0.5em;
}
body .jstree-open .jstree-themeicon:before {
  content: '\f07c';
}
body .jstree-leaf .jstree-themeicon:before {
  content: '\f07b';
}
body .jstree-closed .jstree-themeicon:before {
  content: '\f07b';
}
#jstree-marker {
  margin: 0;
}
#vakata-dnd {
  width: 175px;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 2px;
  box-shadow: none;
  font-weight: 900;
  line-height: 24px;
  height: 24px;
  transform: translateX(-50px) translateY(-69px);
  pointer-events: none;
}
#vakata-dnd .jstree-default {
  padding: 0;
}
.ui-sortable-helper {
  opacity: 0.6;
}
/*# sourceMappingURL=styles.css.map */